version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    environment:
      - WATCHFILES_FORCE_POLLING=true # Helps with live-reload in Docker

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    stdin_open: true # Keeps the React process interactive
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules # Prevents overwriting container modules with local ones
    depends_on:
      - backend